<h1>Formacion</h1>
<fieldset>
    <legend>Menu</legend>
    <ul>
        <li type="circle"><a href="altaAlumno.jsp">Alta de alumno</a></li>
        
        <li type="circle"><a href="altaCurso.jsp">Alta de curso</a></li>

        <li type="circle"><a [routerLink]="['/alumnosCurso']">Buscar alumnos de un curso</a></li>
        
        <li type="circle"><a [routerLink]="['/cursosAlumno']">Buscar cursos de un alumno</a></li>

        <li type="circle"><a href="matricular.jsp">Matricular alumno</a></li>
        
        <li type="circle"><a [routerLink]="['/consultarMatriculas']">Consultar matriculas</a></li>
        
    </ul>
</fieldset>
