<fieldset>
    <legend>Matriculas</legend>
    <input type="date"  [(ngModel)]="dateIni" />

    <input type="date"  [(ngModel)]="dateFin" />

    <input type="button" value="Buscar" (click)="consultarMatriculas()" />


  <table border="1" *ngIf="matriculas?.length">
    <thead>
      <tr>
        <th>Curso</th>
        <th>Fecha Inicio</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of matriculas">
        <td>{{ m.curso.nombre}}</td>
        <td>{{ toDate(m.curso.fechaInicio)}}</td>
        <td>{{ m.alumno.nombre }}</td>
      </tr>
    </tbody>
  </table>
</fieldset>
