<fieldset>
    <legend>Menu</legend>
    <form>
        Usuario:
        <br>
        <input type="text" name="usuario" [(ngModel)]="alumno.usuario"><br>
		<br>
        Contraseña:
        <br>
        <input type="text" name="password" [(ngModel)]="alumno.password"><br>
		<br>
        Nombre:
        <br>
        <input type="text" name="nombre" [(ngModel)]="alumno.nombre"><br>
		<br>
        Email:
        <br>
        <input type="text" name="email" [(ngModel)]="alumno.email"><br>
		<br>
        Edad:
        <br>
        <input type="text" name="edad" [(ngModel)]="alumno.edad"><br>
        <br>

        <input type="submit" (click)="alta()" value="Guardar">
	</form>
</fieldset>
