
div{
	display:inline-block;
	width:100%;
	
	
}

input{
	height: 45px;
	width:70%;
}


button{
	color:black;
	height: 50px;
}

.fontFamily{
    font-family: Verdana,Arial, Helvetica, sans-serif;
    font-size: large;
}
.submitButton{
	background-color:rgba(30,141,187);
	border: none;
    color: white;
    height: 50px;
    width:75% !important; 
}